.container {
    width: 1200px;
    margin-left: calc(50% - 600px);
    display: flex;
    align-content: center;  
    gap: 30px;
}

.left-col {
    width: 40%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.right-col {
    width: 60%;
    height: 100%;
}
