:root {
    --main-color: #3751FF;
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img {
    width: 100%;
    object-fit: contain;
}
.logo {
    width: 160px;
}

.title {
    font-size: 36px;
}
.description {
    font-size: 20px;
    color: #ccc;
}
.form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-end;
}
.rememberpw {
    font-size: 16px;
    color: #ccc;
}
.form > a {
    font-size: 16px;
    color: rgb(138, 136, 136);
}
.btn {
    border: solid 2px var(--main-color);
    padding: 10px 25px;
    font-size: 18px;
    color: #fff;
    background-color: var(--main-color);
}
.btn.btn-white {
    background-color: #fff;
    color: var(--main-color);
}
.bg-img {
    height: 100%;
    width: 100%;
}
