:root {
    --main-color: #3751FF;
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img {
    width: 100%;
    object-fit: contain;
}
.logo {
    width: 160px;
}

.title {
    font-size: 36px;
}
.description {
    font-size: 20px;
    color: #ccc;
}
.form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}
.box {
    width: 100%;
}
.box > .email {
    width: 80%;
    border: 1px solid #ccc;
    border-left: var(--main-color) solid 3px;
    display: flex;
    flex-direction: column;
}
.box > .password {
    width: 80%;
    border: 1px solid #ccc;
    border-top: 0;
    display: flex;
    flex-direction: column;
}
.box label {
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.box textarea,
input {
    border: none;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box input {
    color: var(--main-color);
}
.rememberpw {
    font-size: 16px;
    color: #ccc;
}
.checkbox-items {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
}
.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form > .checkbox-items > a {
    font-size: 16px;
    color: rgb(138, 136, 136);
    align-self: flex-end;
    text-decoration: none;
}
.buttons {
    width: 80%;
    display: flex;
    align-items: flex-start;
    gap: 30px;
}
.buttons > .btn {
    border: solid 1px var(--main-color);
    padding: 10px 25px;
    font-size: 18px;
    color: #fff;
    background-color: var(--main-color);
    align-self: flex-start;
}
.buttons > .btn.btn-white {
    background-color: #fff;
    color: var(--main-color);
}
.footers {
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #ccc;
}
.footers > a {
    text-decoration: none;
    color: var(--main-color);
    font-weight: bold;
}
.bg-img {
    height: 100%;
    width: 100%;
}
